[Unit]
Description=Superset
After=network.target

[Service]
{% if superset_service_env_vars|default([]) %}
{% for (key, value) in superset_service_env_vars.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}
{% endif %}
Environment="PATH={{ superset_virtualenv_path }}/bin:$PATH"
User={{ superset_user }}
Group={{ superset_wsgi_group }}
Type=simple
ExecStart={{ superset_virtualenv_path }}/bin/uwsgi --ini {{ superset_codebase_path }}/uwsgi.ini
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT
RuntimeDirectory={{ superset_user }}
WorkingDirectory={{ superset_codebase_path }}

[Install]
WantedBy=multi-user.target
