[Unit]
Description=Superset
After=network.target

[Service]
{% if superset_service_env_vars %}
{% for (key, value) in superset_service_env_vars.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}
{% endif %}
User={{ superset_user }}
Type=simple
ExecStart=/usr/local/bin/superset runserver -p {{ superset_port }} -w {{ superset_workers }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
