[Unit]
Description=Superset
After=network.target

[Service]
{% if superset_service_env_vars %}
{% for (key, value) in superset_service_env_vars.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}
{% endif %}
Environment="PATH={{ superset_virtualenv_path }}/bin:$PATH"
Environment="PYTHONPATH={{ superset_python_path }}"
User={{ superset_user }}
Type=simple
ExecStart={{ superset_virtualenv_path }}/bin/superset run -p {{ superset_port }} --with-threads
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
